@import '../../../styles/shared.scss';

$selected-size: 100px;
$un-selected-size: 85px;

.scape-in-progress-report-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .scape-metadata-container {
    padding-top: 2px;
  }

  .scape-executions {
    padding-top: 50px;
    display: flex;
    flex-flow: column;
    height: 100%;

    .scape-executions-tabs {
      padding-left: 50px;
      padding-right: 50px;
      display: flex;

      .scape-tab-wrapper {
        display: flex;
        flex-flow: column;

        .scape-tab {
          display: flex;
          margin-top: 2px;
          margin-left: 15px;
          justify-content: center;
          border: 2px solid $black;
          border-radius: 8px;
          height: 50px;
          width: $un-selected-size;

          .score-wrapper {
            display: flex;
            flex-flow: column;
            justify-content: center;
            justify-self: center;
            text-align: center;

            .score {
              margin-bottom: -5px;
              font-weight: bold;
              font-size: 25px;
              @extend .content-font;
            }

            .label {
              margin-top: -4px;
              margin-bottom: 1px;
              font-weight: bold;
              font-size: 15px;
            }
          }
        }

        .selected {
          z-index: 1000;
          height: 60px;
          width: $selected-size;
          margin-top: -1px;
          border-radius: 10px 10px 0 0;
        }
      }
    }
    @media screen and (max-width: 700px) {
      .scape-executions-tabs {
        flex-direction: column;
        align-content: center;
        padding: 0;
      }
    }

    .scape-executions-result-wrapper {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-top: 3px solid $black;
      border-right: 3px solid $black;
      border-left: 3px solid $black;
      margin-top: -3px;
      z-index: 1;
      height: 100%;

      .in-progress-result-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .estimated-time-card {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 50px;
          padding: 50px 50px 10px 50px;

          .estimated-time-card-content {
            .kv-wrapper {
              display: flex;
              flex-direction: column;
              padding: 3px 0 3px 0;
              justify-content: center;
              margin-right: 50px;

              .key {
                @extend .content-font;
                font-weight: 700;
              }

              .value {
                @extend .content-font;
              }
            }

            .run-time-container {
              display: flex;
              flex-direction: column;
              margin-bottom: 20px;

              .run-time-container-row {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 450px;
                margin: 3px 0 3px 0;

                .spinner {
                  padding-right: 5px;
                }

                .in-progress-time {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  flex-grow: 1;

                  .eta-label {
                    text-align: center;
                    padding-right: 5px;
                  }
                }
              }
            }

            .logo-spinner-container {
              margin: 40px;

              #logo {
                display: block;
                margin: 0 auto;
                width: 350px;
                height: 350px;

                -webkit-animation: spin 4s linear infinite;
                -moz-animation: spin 4s linear infinite;
                animation: spin 4s linear 0s infinite both;
              }

              @-moz-keyframes spin {
                100% {
                  -moz-transform: rotate(360deg);
                }
              }
              @-webkit-keyframes spin {
                100% {
                  -webkit-transform: rotate(360deg);
                }
              }
              @keyframes spin {
                100% {
                  transform: rotate(360deg);
                }
              }
            }
          }
        }
      }
    }
  }

  .message-bar {
    margin-top: 30px;
    padding: 5px 0 5px 0;
    text-align: center;
    background-color: $light-gray;
    font-size: 20px;
    @extend .heading-font;
  }
}
