@import '../../../styles/shared.scss';

.scape-metadata-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 20px 20px 20px;
  justify-content: center;

  .scape-metadata-row {
    display: flex;

    .scape-metadata-column {
      display: flex;
      flex-direction: column;
      margin: 15px 10px 15px 10px;

      .scape-metadata-column-content {
        display: flex;
        flex-direction: column;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 10px;
        height: 100%;

        .scape-column-title-wrapper {
          display: flex;
          padding-bottom: 5px;

          .scape-column-title {
            @extend .heading-font;
            font-size: 18px;
          }
        }

        .kv-wrapper {
          display: flex;
          flex-direction: column;
          padding: 3px 20px 3px 0;
          flex: 1;

          .key {
            @extend .content-font;
            font-weight: 700;
          }

          .value {
            @extend .content-font;
          }
        }

        .scope-item-wrapper {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 280px;
          margin: 3px 0 3px 0;

          .layer-group {
            padding-right: 5px;
            margin-top: 5px;
            align-self: flex-start;
          }

          .hourglass {
            padding-right: 5px;
          }

          .map-marker {
            padding-right: 5px;
          }
        }
      }

      .number-label-card {
        display: flex;
        flex-direction: column;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 110px;
        padding-top: 10px;
        @extend .un-selectable;

        .label-value {
          @extend .content-font;
          margin-left: -5px;
          margin-bottom: -10px;
          text-align: center;
        }

        .number-container {
          display: flex;
          flex-direction: row;
          justify-content: center;

          .number-value {
            font-size: 50px;
            align-self: flex-end;
          }

          .number-unit {
            font-size: 25px;
            align-self: flex-end;
            padding-left: 2px;
            padding-bottom: 10px;
          }
        }
      }

      .btn-wrapper {
        display: flex;
        justify-content: center;
        align-self: flex-end;
        margin-top: 30px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .scape-metadata-section {
    justify-content: space-between;
    .scape-metadata-row {
      flex-direction: column;
    }
  }
}
