@import '../../../styles/shared.scss';

.canary-report-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .canary-metadata-container {
    padding-top: 2px;
  }

  .canary-metrics-overview-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    section {
      margin: 0px;
    }

    .canary-metrics-overview-content {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
    }

    @media screen and (max-width: 800px) {
      .canary-metrics-overview-content {
        flex-wrap: wrap;
      }
    }
  }
}
