@import '../../../styles/shared.scss';

.canary-metadata-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 60px 20px 60px;
  justify-content: space-evenly;

  .canary-metadata-column {
    display: flex;
    flex-direction: column;
    margin: 10px 20px 10px 20px;

    .canary-metadata-column-content {
      display: flex;
      flex-direction: column;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 10px;

      .canary-column-title-wrapper {
        display: flex;
        padding-bottom: 5px;

        .canary-column-title {
          @extend .content-font;
          font-weight: 700;
        }
      }

      .kv-wrapper {
        display: flex;
        flex-direction: column;
        padding: 3px 20px 3px 0;

        .key {
          @extend .content-font;
          font-weight: 700;
        }

        .value {
          @extend .content-font;
        }
      }

      .scope-item-wrapper {
        display: flex;
        flex-direction: row;
        width: 280px;
        margin: 3px 0 3px 0;

        .layer-group, .hourglass {
          padding-right: 5px;
          margin-top: 5px;
        }

        .map-marker {
          padding-right: 5px;
          align-self: center;
        }
      }
    }

    .number-label-card {
      display: flex;
      flex-direction: column;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding-top: 10px;
      margin-bottom: 20px;
      @extend .un-selectable;

      .label-value {
        @extend .content-font;
        margin-left: -5px;
        margin-bottom: -10px;
        text-align: center;
      }

      .number-container {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .number-value {
          font-size: 60px;
          align-self: flex-end;
        }

        .number-unit {
          font-size: 25px;
          align-self: flex-end;
          padding-left: 2px;
          padding-bottom: 14px;
        }
      }
    }

    .btn-wrapper {
      padding-top: 10px;
      display: flex;
      justify-content: center;
      align-self: flex-end;
    }
  }

  .meter-container {
    margin: 40px 60px 40px 60px;
  }

  .message-wrapper {
    display: flex;
    justify-content: center;
    background: $off-white;

    .message {
      padding: 5px;
      display: flex;
      font-size: 18px;
      text-align: center;
      @extend .heading-font;
    }
    .message:empty {
      display: none;
    }
  }
}

@media screen and (max-width: 1300px) {
  .canary-metadata-section {
    justify-content: flex-start;
    margin: 5px;
  }
}
