@import '../../../styles/shared';

.canary-executor-results {
  padding: 10px;

  .row-component {
    display: flex;
    flex-direction: row;
    background-color: $dark-background-color;
    height: 33px;

    .chevron {
      height: 33px;
      margin-left: 10px;
    }

    .row-item {
      font-size: 15px;
      flex-grow: 1;
    }
  }

  .execution-id {
    padding: 10px;
    border-top: 1px solid lightgray;
  }

  .canary-results-metadata {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;

    .widget {
      display: flex;
      justify-content: center;
      flex-grow: 1;

      .summary-container {
        display: flex;
        justify-content: center;
        width: 80%;
        flex-direction: column;
        padding: 15px;

        .metadata-container {
          display: flex;
          flex-direction: row;
          flex-flow: wrap;
          justify-content: space-between;

          .result-container {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;

            .result-value-container {
              display: flex;
              flex-direction: row;

              .result-value {
                font-size: 30px;
              }
            }

            .result-label {
              margin-left: 1px;
              font-size: 15px;
              text-transform: uppercase;
              color: gray;
            }
          }

          .score-container {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;

            .score-value {
              font-size: 30px;
            }

            .score-label {
              margin-left: 1px;
              font-size: 15px;
              text-transform: uppercase;
              color: gray;
            }
          }

          .mode-container {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;

            .mode-value {
              font-size: 30px;
            }

            .mode-label {
              margin-left: 1px;
              font-size: 15px;
              text-transform: uppercase;
              color: gray;
            }
          }
        }
      }
    }

    .btn-wrapper {
      display: flex;
      justify-content: flex-end;
    }
  }

  .canary-executor-spinner {
    .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 300px;
      height: 300px;
      margin: -180px 0 0 -150px;
    }
  }
}
