@import '../../../styles/shared.scss';

.report-container {
  display: flex;
  flex-direction: column;

  .metadata-container {
    padding-top: 2px;
    border-bottom: 1px solid lightgray;
  }

  .metrics-overview-container {
    display: flex;
    flex-direction: column;

    section {
      margin: 0px;
    }

    .metrics-overview-content {
      display: flex;
      flex-direction: row;
    }

    @media screen and (max-width: 800px) {
      .metrics-overview-content {
        flex-wrap: wrap;
      }
    }
  }
}
