@import '../../../styles/shared.scss';

.metric-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .metric-symbols {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;

    .metric-critical-symbol {
      padding: 0px 5px 0px 5px;
    }
  }
}
