@import '../../../styles/shared.scss';

.group-metrics-container-wrapper {
  display: flex;
  flex-direction: column;
  padding: 5px 0px 5px 0px;

  .group-metrics-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $dark-background-color;
    color: $dark-bg-font-color;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;

    .group-score-tab {
      display: flex;
      justify-content: center;
      color: $black;
      border-radius: 8px;
      width: 40px;
      @extend .un-selectable;

      .score-wrapper {
        display: flex;
        flex-flow: column;
        justify-content: center;
        justify-self: center;
        text-align: center;

        .score {
          font-weight: 600;
          font-size: 18px;
        }
      }
    }

    .group-metrics-name {
      @extend .heading-font;
    }
  }

  .group-metrics-content {
    padding: 10px;
  }

  .group-metrics-content:empty {
    display: none;
  }
}

