@import '../../styles/shared';

.canary-executor {
  padding: 10px;

  #canary-executor-form-view {
    form {
      section {
        .titled-section-contents {
          .row {
            padding-left: 3px;
            padding-right: 3px;
          }
        }
      }
    }
  }
}