@import '../../styles/shared';

#canary-executor-form-view {
  .metadata {
    .titled-section-contents {
      overflow: visible;
      display: flex;
      flex-direction: column;

      .row {
        padding-top: 10px;
        .col-sm-10 {
          padding-left: 0px;
        }
      }

      .dropdown-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15px;

        #dropdown-label {
          margin: 5px 0 0 5px;
          align-self: flex-start;
        }

        .dropdown-content-container {
          display: flex;
          flex-direction: column;
          flex: 0 0 84%;
        }
      }
    }
  }
}
