#canary-executor-form-view {
  .metadata {
    .titled-section-contents {
      overflow: visible;
      display: flex;
      flex-direction: column;

      .row {
        padding-top: 10px;
        .col-sm-10 {
          padding-left: 0px;
        }
      }

      .dropdown-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15px;

        #dropdown-label {
          margin-bottom: 0px;
        }

        #dropdown {
          flex-basis: 84%;
          margin-left: 20px;
        }
      }
    }
  }
}
