@import '../../styles/shared';

.titled-section-contents {

  #thresholds-section {
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;

    .row {
      .col-sm-10 {
        flex: 0 0 70%;
      }

      .label-tooltip-container {
        display: flex;
        flex-direction: row;
      }
    }
  }
}
