@import 'typeface';

$black: #111111;
$white: #ffffff;
$success: #48bd1f;
$error: #fe0000;
$nodata: #bbb;

$dark-background-color: #222222;
$dark-bg-font-color: #F7F7F7;
$off-white: #f2f2f2;
$light-gray: #d6d6d6;

$pass-color: $success;
$marginal-color: yellow;
$fail-color: $error;

.btn-outline-warning {
  font-weight: bold!important;
}

.line-break {
  align-self: center;
  border-bottom: $black solid 1px;
  width: 96%;
}

.un-selectable {
  -webkit-user-select: none; /* Safari */
  user-select: none;
}

.btn {
  @extend .un-selectable;
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.horizontal-screen-scaling-content {
  width: 100%;

  @media (min-width: 1201px) {
    width: 90%;
  }

  @media (min-width: 1500px) {
    width: 80%;
  }

  @media (min-width: 1680px) {
    width: 75%;
  }

  @media (min-width: 2000px) {
    width: 65%;
  }

  @media (min-width: 2200px) {
    width: 55%;
  }
}

.center-me {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
}

.fail, .high, .low, .nodatafailmetric {
  background: $fail-color;
}

.fail-text {
  color: $fail-color;
}

.fail-border {
  border-left: 5px solid $fail-color;
}

.marginal {
  background: $marginal-color;
}

.in-progress {
  background: $light-gray;
}

.pass {
  background: $pass-color;
}

.pass-text {
  color: $pass-color;
}

.pass-border {
  border-left: 5px solid $pass-color;
}

.warning-border {
  border-left: 5px solid $marginal-color;
}

.nodata {
  background: $nodata;
}

.nodata-text {
  color: $nodata;
}


