@import '../../styles/shared';

.metrics-container-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .metrics-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 350px;
    border-right: 2px lightgray solid;

    .overview-button-container {
      .overview {
        border-style: none;
        border-radius: 0;
      }

      .active {
        background-color: $dark-background-color;
        color: $dark-bg-font-color;
        box-shadow: none;
        border-style: none;
        border-radius: 0;
      }

      .btn-block:focus {
        background-color: $dark-background-color;
        color: $dark-bg-font-color;
        box-shadow: none;
        border-style: none;
        border-radius: 0;
      }

      .btn-block:hover {
        background-color: lightgray;
        color: black;
        box-shadow: none;
        border-style: none;
        border-radius: 0;
      }
    }

    .metrics-filters-container {
      padding: 5px 10px 5px 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px lightgray solid;
      cursor: pointer;

      .metrics-filter {
        display: flex;
        justify-content: center;
        align-items: center;

        .form-check {
          display: flex;
          align-items: center;
          cursor: pointer;

          label {
            margin-bottom: 0;
            cursor: pointer;

            input {
              cursor: pointer;
              margin-left: -15px;
            }
          }
        }
      }

      .btn {
        cursor: pointer;
      }
    }

    .metrics-container-content {

      .group-metrics-container-wrapper {
        display: flex;
        flex-direction: column;

        .group-metrics-title-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          background-color: $off-white;
          padding: 5px 10px 5px 10px;
          border-top: 1px lightgray solid;
          border-bottom: 1px lightgray solid;

          .group-score-tab {
            display: flex;
            justify-content: center;
            color: $black;
            border-radius: 8px;
            width: 40px;
            @extend .un-selectable;

            .score-wrapper {
              display: flex;
              flex-flow: column;
              justify-content: center;
              justify-self: center;
              text-align: center;

              .score {
                font-weight: 600;
                font-size: 18px;
              }
            }
          }

          .group-metrics-name {
            @extend .heading-font;
          }
        }

        .group-metrics-content {

          .metric-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-grow: 1;
            border-style: none;
            border-radius: 0;
            margin: 0;

            .metric-symbols {
              display: flex;
              flex-direction: row;
              align-items: center;
              padding-left: 10px;

              .metric-critical-symbol {
                padding: 0px 5px 0px 5px;
              }
            }
          }

          .active {
            background-color: $dark-background-color;
            color: $dark-bg-font-color;
            box-shadow: none;
            border-style: none;
            border-radius: 0;
          }

          .btn-block:focus {
            background-color: $dark-background-color;
            color: $dark-bg-font-color;
            box-shadow: none;
          }

          .btn-block:hover {
            background-color: lightgray;
            color: black;
            box-shadow: none;
          }
        }

        .group-metrics-content:empty {
          display: none;
        }
      }
    }

    .metrics-key-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-top: 1px lightgray solid;
      border-bottom: 1px lightgray solid;
      padding: 10px 15px 10px 15px;

      .metrics-key-item {
        display: flex;
        flex-direction: row;
        align-items: center;

        .metrics-key-symbol {
          margin-right: 5px;
        }
      }
    }
  }
}
