@import '../styles/shared';

.landing-content {
  padding: 10px;

  display: flex;
  flex-flow: column;

  .welcome-message {
    width: 100%;
    margin-top: 10px;
    text-align: center;

    p {
      margin-bottom: 0;
    }
  }
}
